.pagination {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

ul {
  list-style: none;
  padding: 0;
}

ul.pagination li {
  display: inline-block;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;

}
ul.pagination li:hover{
  background: #FDF5DC;
}

ul.pagination li:first-child {
  border-radius: 4px;
  background: #F9FAFB;
}
ul.pagination li:first-child:hover{
  background: trasparent;
  border: 1px solid #000;
}
ul.pagination li:nth-child(2){
  border-radius: 4px;
  background: #F9FAFB;
}
ul.pagination li:nth-child(2):hover{
  background: trasparent;
  border: 1px solid #000;
}
ul.pagination li:nth-child(n-1){
  border-radius: 4px;
  background: #F9FAFB;
}
ul.pagination li:nth-child(n-1):hover{
  background: trasparent;
  border: 1px solid #000;
}
ul.pagination li:last-child {
  border-radius: 4px;
  background: #F9FAFB;
}

ul.pagination li:last-child:hover{
  background: trasparent;
  border: 1px solid #000;
}


ul.pagination li a {
  text-decoration: none;
  color: #000000;
  font-size: 1rem;
}

ul.pagination li.active a {
  color: black;
}

ul.pagination li.active {
  background-color: #ffd86a;
  border-radius: 4px;
}

ul.pagination li a:hover,
ul.pagination li a.active {
}

.page-selection {
  width: 48px;
  height: 30px;
  color: #337ab7;
}
