.heroside_slider {
  height: 480px;
  margin: 0 auto;
  text-align: center;
  background: #f2f2f2;
  margin-bottom: 60px;
  position: relative;
}

.heroside_slider .slick-prev {
  position: absolute;
  left: 130px;
  z-index: 1;
  background-image: url(../../../public/images/slider_arrow_default.png);
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -9999px;
  width: 32px;
  height: 32px;
}
.heroside_slider .slick-prev:hover {
  background-image: url(../../../public/images/slider_arrow_hover.png);
  background-repeat: no-repeat;
  background-position: center;
}
.heroside_slider .slick-next {
  position: absolute;
  right: 130px;
  background-image: url(../../../public/images/slider_arrow_default.png);
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -9999px;
  width: 32px;
  height: 32px;
  transform: scaleX(-1);
}
.heroside_slider .slick-next:hover {
  background-image: url(../../../public/images/slider_arrow_hover.png);
  background-repeat: no-repeat;
  background-position: center;
}
.heroside_slider .slick-dots {
  position: absolute;
  bottom: 30px;
}
.heroside_slider .slick-track {
  width: 100%;
  overflow: hidden !important;
}
.slide1 {
  background: #ff9a70;
  width: 1100px;
  height: 480px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.heroside_1 {
  background-image: url(../../../public/images/heroside_1.png);
  width: 579px;
  height: 357px;
}

.slide2 {
  background: #ffe7a4;
  height: 480px;
  background-image: url(../../../public/images/heroside_image1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.slide2 h1 {
  margin-top: 139px;
  font-size: 56px;
  line-height: 72px;
  font-weight: bold;
}
.slide2 button {
  margin-top: 26px;
  width: 83px;
  height: 32px;
  border: 1px solid black;
  border-radius: 40px;
  background: black;
  color: white;
  cursor: pointer;
}
.slide2 button:hover {
  background: transparent;
  color: black;
}

.slide3 {
  background: #e7f56d;
  width: 1100px;
  height: 480px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.heroside_3 {
  background-image: url(../../../public/images/heroside_3.png);
  width: 620px;
  height: 346px;
}

.slide4 {
  background: #b591fb;
  width: 1100px;
  height: 480px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.heroside_4 {
  background-image: url(../../../public/images/heroside_4.png);
  width: 537px;
  height: 342px;
}

.slide5 {
  background: #62bffe;
  width: 1100px;
  height: 480px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.heroside_5 {
  background-image: url(../../../public/images/heroside_5.png);
  width: 451px;
  height: 367px;
}
.slide5 button {
  width: 186px;
  height: 48px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}
.slide5_ranking {
  background: transparent;
  border: 1px solid #000;
}
.slide5_ranking:hover {
  background: #000;
  color: white;
}
.slide5_start {
  background: #000;
  color: white;
  border: 0 none;
  margin-left: 14px;
}
.slide5_start:hover {
  background: transparent;
  color: #000;
  border: 1px solid #000;
}

.heroside_text {
  text-align: left;
}
.heroside_text h1 {
  margin-bottom: 20px;
  font-size: 52px;
  line-height: 72px;
  letter-spacing: -0.06em;
}
.heroside_text p {
  font-size: 16px;
  line-height: 26px;
}
.heroside_text{
  cursor: pointer;
}