.list_body {
  min-height: 100vh;
  background: #f9fafb;
  padding-top: 16px;
  padding-bottom: 160px;
}

.postlist_top {
  width: 1000px;
  height: 340px;
  margin: 0 auto;
  background: white;
  margin-bottom: 20px;
  padding-top: 40px;
  padding-left: 2px;
}
.postlist_top li {
  float: left;
  position: relative;
  margin-left: 20px;
  cursor: pointer;
}
.postlist_top_image1 {
  width: 466px;
  height: 260px;
  background-image: url(../../../public/images/list_image1.png);
}
.postlist_top_image2 {
  width: 466px;
  height: 260px;
  background-image: url(../../../public/images/list_image2.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4px;
}
.postlist_top_meal {
  width: 466px;
  height: 260px;
  background-image: url(../../../public/images/meal_2.jpg);
  background-size: cover;
}
.postlist_top_meal2 {
  width: 466px;
  height: 260px;
  background-image: url(../../../public/images/meal_1.jpg);
  background-size: cover;
}
.postlist_top_recycle {
  width: 466px;
  height: 260px;
  background-image: url(../../../public/images/recycle_2.jpg);
  background-size: cover;
}
.postlist_top_recycle2 {
  width: 466px;
  height: 260px;
  background-image: url(../../../public/images/recycle_1.jpg);
  background-size: cover;
}
.postlist_top h3 {
  position: absolute;
  bottom: 0;
  color: white;
  font-size: 28px;
  line-height: 38px;
  padding: 24px 20px;
}

.list_bottom {
  width: 800px;
  height: 30px;
  font-size: 14px;
  line-height: 22px;
  color: #a0a0a0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}
.list_profile {
  width: 20px;
  height: 20px;
}
