.comment_box{
    width: 1200px;
    margin: 0 auto;
}
.comment_box::after{
    content: "";
    display: block;
    width: 66.7%;
    height: 1px;
    background: #F3F3F3;
    margin: 6px 0 30px 0
}
.comment_wrap{
    width: 1200px;
}
.comment_input{
    position: relative;
}
.comment_write {
    width: 720px;
    height: 100px;
    resize: none;
    border: 1px solid #F3F3F3;
    padding: 10px 18px;
}
