.wrap {
  border: 1px solid blue;
  width: 1000px;
  height: 1300px;
}
.detailTitle {
  border: 1px solid red;
  height: 80px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 60px;
  text-align: center;
}
.detailImg {
  border: 1px solid green;
  height: 700px;
}
.detailContent {
  border: 1px solid orange;
  height: 400px;
}
.button {
  width: 200px;
  height: 50px;
  background-color: transparent;
  border-radius: 20px;
}
.buttons {
  width: 200px;
  height: 50px;
  background-color: transparent;
  border-radius: 20px;
}
.btns {
}
