.cardBox {
  border: 1px solid red;
  width: 400px;
  height: 600px;
}
.cardTitle {
  border: 1px solid blue;
  height: 50px;
  text-align: center;
  font-size: 25px;
  margin-top: 0;
  margin-bottom: 0;
}
.cardImg {
  border: 1px solid green;
  height: 300px;
}
.cardContent {
  border: 1px solid purple;
  height: 180px;
  margin-top: 0;
}
.cardBtn {
  width: 100px;
  height: 40px;
  margin: auto;
  display: block;
}
