.main_container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main_recipe,
.main_drink,
.main_recycle {
  width: 1200px;
  margin-left: 150px;
  padding: 20px 0;
}

.sub_container {
  width: 1500px;
  position: relative;
}

.main_category {
  width: 1200px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.main_category li {
  float: left;
  margin-left: 24px;
  background: white;
  width: 384px;
  height: 94px;
  padding: 20px 20px;
  cursor: pointer;
  border-bottom: 2px rgba(0, 0, 0, 0.1) solid;
  box-shadow: 0px 1px 7px rgb(196, 196, 196);
  transition: 0.3s;
}
.main_category li:first-child {
  margin-left: 0;
}
.main_category li:hover {
  box-shadow: 0px 3px 15px rgb(211, 211, 211);
  transform: scale(1.05);
}
.category_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.category_text h3 {
  font-size: 18px;
  line-height: 30px;
  display: block;
}
.category_text p {
  font-size: 14px;
  line-height: 24px;
  display: block;
}

.drink_icon {
  width: 32px;
  height: 32px;
  background-image: url(../../public/images/drink.png);
}
.rice_icon {
  width: 32px;
  height: 32px;
  background-image: url(../../public/images/rice_o.png);
}
.tip_icon {
  width: 32px;
  height: 32px;
  background-image: url(../../public/images/tip_o.png);
}
.home_icon {
  width: 32px;
  height: 32px;
  background-image: url(../../public/images/home_o.png);
}

.main_magazine {
  margin-top: 120px;
}
.main_magazine h3 {
  width: 1200px;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 30px;
}
.main_magazine li {
  float: left;
  width: 282px;
  height: 306px;
  margin-left: 24px;
  cursor: pointer;
}
.main_magazine li:first-child {
  margin-left: 0;
}
.magazine_image {
  width: 282px;
  height: 240px;
  background-image: url(../../public/images/default_image.jpeg);
  background-size: contain;
  background-position: center;
}
.main_magazine p {
  width: 282px;
  height: 56px;
  margin-top: 10px;
  font-size: 18px;
  line-height: 28px;
}
.main_drink {
  margin-top: 120px;
}
.main_drink li {
  float: left;
  margin-left: 20px;
  width: 280px;
  height: 320px;
  cursor: pointer;
}
.main_drink li:first-child {
  cursor: default;
  margin-left: 0;
}
.main_drink h3 {
  font-size: 24px;
  line-height: 36px;
  margin-top: 26px;
  margin-bottom: 20px;
}
.main_drink h4 {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 30px;
  color: #a0a0a0;
}
.main_drink button {
  border: 0 none;
  width: 130px;
  height: 28px;
  cursor: pointer;
  font-size: 16px;
  line-height: 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
}
.main_drink h5 {
  width: 90px;
  font-size: 16px;
  line-height: 28px;
}
.btn_arrow {
  width: 37px;
  height: 18px;
  background-image: url(../../public/images/arrow.png);
  background-repeat: no-repeat;
}
.drink_image {
  height: 230px;
  background-image: url(../../public/images/default_image.jpeg);
  background-size: contain;
  background-position: center;
}
.main_drink p {
  margin-top: 10px;
  height: 56px;
  font-size: 18px;
  line-height: 28px;
}

.main_recipe,
.main_recycle {
  margin-top: 50px;
}
.main_recipe li,
.main_recycle li {
  float: left;
  margin-left: 20px;
  width: 280px;
  height: 320px;
  cursor: pointer;
}
.main_recipe li:first-child,
.main_recycle li:first-child {
  cursor: default;
  margin-left: 0;
}
.main_recipe h3,
.main_recycle h3 {
  font-size: 24px;
  line-height: 36px;
  margin-top: 26px;
  margin-bottom: 20px;
}
.main_recipe h4,
.main_recycle h4 {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 30px;
  color: #a0a0a0;
}
.main_recipe h5,
.main_recycle h5 {
  width: 90px;
  font-size: 16px;
  line-height: 28px;
}

.main_recipe button,
.main_recycle button {
  border: 0 none;
  width: 130px;
  height: 28px;
  cursor: pointer;
  font-size: 16px;
  line-height: 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
}
.recipe_image,
.recycle_image {
  height: 230px;
  background-image: url(../../public/images/default_image.jpeg);
  background-size: contain;
  background-position: center;
}

.main_recipe p,
.main_recycle p {
  margin-top: 10px;
  height: 56px;
  font-size: 18px;
  line-height: 28px;
}
.random_wrap {
  width: 100%;
  height: 236px;
  background: #f9fafb;
}
.random_recipe_container {
  width: 1400px;
  height: 236px;
  margin: 0 auto;
  padding: 28px 0;
  font-size: 22px;
  line-height: 36px;
  margin-top: 75px;
  background-image: url(../../public/images/indicatorgroup.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.random_recipe {
  display: flex;
  width: 836px;
  height: 180px;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.random_recipe h3 {
  font-size: 28px;
  line-height: 42px;
}
.random_recipe button {
  width: 140px;
  height: 32px;
  margin-top: 15px;
  background: #ffd665;
  color: black;
  border: 0 none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -0.04em;
}

.random_recipe button:hover {
  background: #000;
  color: #ffd665;
}

.random_image {
  width: 180px;
  height: 180px;
  background-image: url(../../public/images/random_image.png);
}
.shorts_slider {
  width: 1200px;
  margin: 0 auto;
  padding-left: 24px;
  margin-top: 100px;
}
.shorts_slider h2 {
  font-size: 22px;
  line-height: 36px;
  font-weight: normal;
}

.shorts_slide {
  width: 180px;
  height: 294px;

  background: #f2f2f2;
}
.shorts_slide_wrap p {
  width: 180px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.007em;
}

.cup_container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 90px;
}
.cup_playing {
  width: 760px;
  height: 470px;
  background: #f5f5f5;
  padding: 43px 57px;
}
.play_text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cup_ranking {
  width: 350px;
  height: 470px;
  border: 1px solid #000;
  padding: 25px 30px;
}
.likes {
  width: 60px;
  margin: 0 auto;
}

.detail_body {
  width: 100%;
  min-height: 95vh;
  background: #f9fafb;
  padding-top: 73px;
  padding-bottom: 80px;
}
.detail_date {
  color: #a0a0a0;
}
.likes {
  margin-bottom: 40px;
}
.comment_top {
  width: 800px;
  margin: 0 auto;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  line-height: 24px;
  color: #a0a0a0;
  position: relative;
}
.comment_top::after {
  display: block;
  content: "";
  position: absolute;
  bottom: -20px;
  width: 800px;
  height: 1px;
  margin: 0 auto;
  background: #e4e4e4;
}
.detail_title_wrap {
  position: relative;
  width: 800px;
}
.detail_title {
  height: 60px;
  width: 800px;
  font-size: 22px;
  line-height: 32px;
  font-weight: bold;
  text-align: center;
}
.detail_title::after {
  display: block;
  content: "";
  width: 800px;
  height: 1px;
  background: #e4e4e4;
  margin-top: 20px;
}
.detail_toggle {
  width: 24px;
  height: 24px;
  background-image: url(../../public/images/detail_more.png);
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.toggle_item_wrap {
  width: 107px;
  height: 64px;
  position: absolute;
  right: 0;
  top: 30px;
  background: white;
  padding: 10px;
  font-size: 14px;
  line-height: 20px;
  border-radius: 4px;
  box-shadow: 0px 1px 7px rgb(196, 196, 196);
}
.toggle_item_wrap li {
  cursor: pointer;
}
.toggle_item_wrap li:hover {
  font-weight: bold;
}
.toggle_delete {
  margin-top: 7px;
  color: red;
}

.list_slider .slick-prev {
  position: absolute;
  /* left: -58px; */
  left: -11px;
  top: 138px;
  z-index: 1;
  background-image: url(../../public/images/slider_arrow_default.png);
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -9999px;
  width: 32px;
  height: 32px;
}
.list_slider .slick-prev:hover {
  background-image: url(../../public/images/slider_arrow_hover.png);
  background-repeat: no-repeat;
  background-position: center;
}
.list_slider .slick-next {
  position: absolute;
  top: 118px;
  /* right: -58px; */
  right: -11px;
  background-image: url(../../public/images/slider_arrow_default.png);
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -9999px;
  width: 32px;
  height: 32px;
  transform: scaleX(-1);
}
.list_slider .slick-next:hover {
  background-image: url(../../public/images/slider_arrow_hover.png);
  background-repeat: no-repeat;
  background-position: center;
}
.list_slide_container {
  position: relative;
  right: -244px;
  width: 990px;
  height: 326px;
}
.list_slider {
  width: 282px;
  height: 326px;
}
.slide {
  width: 990px;
  height: 326px;
  margin-left: -11px;
  position: absolute;
}
.list_slide {
  cursor: pointer;
  margin-left: 20px;
  padding-left: 5px;
}
.list_slide_image {
  width: 282px;
  height: 260px;
}

.home_active,
.list_active,
.game_active {
  border-bottom: 2px solid #fff;
  color: white;
}

.reaction {
  width: 180px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.slide_wrap {
  cursor: pointer;
}

.post_top_wrap {
  width: 100%;
  height: 60px;
  background: #000;
  position: absolute;
  left: 0;
  top: 72px;
}
.post_top {
  width: 1200px;
  padding: 0 40px;
  margin: 0 auto;
  display: flex;
  justify-content: end;
}
.post_top button {
  width: 100px;
  height: 32px;
  border: 0 none;
  border-radius: 20px;
  background: #a0a0a0;
  color: #f9fafb;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}
.post_top button:hover {
  background: #ffd86a;
  color: #000;
  cursor: pointer;
}
.post_top_select {
  width: 148px;
  height: 32px;
  margin-right: 16px;
  background: #363636;
  color: white;
  border: 0 none;
  border-radius: 4px;
  padding: 4px 10px;
}
.post_input_wrap,
.edit_post_input_wrap {
  width: 800px;
  margin: 0 auto;
  padding-top: 50px;
}
.post_searchinp {
  height: 32px;
  width: 800px;
  margin: 0 auto;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
  border: 0 none;
}
.post_input_wrap::after {
  display: block;
  content: "";
  width: 800px;
  height: 1px;
  background: #e4e4e4;
  margin: 0 auto;
}
.post_searchinp:focus {
  outline: 0 none;
}
.post_searchinp::placeholder {
  color: #cbcbcb;
  font-weight: bold;
}
.edit_post_input_wrap::after {
  display: block;
  content: "";
  width: 800px;
  height: 1px;
  background: #e4e4e4;
  margin: 0 auto;
  margin-bottom: 20px;
}
.foodbox_wrap {
  width: 100%;
  height: 236px;
  background: #2d2d2d;
}
.worldcup_wrap {
  width: 1394px;
  height: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: relative;
}
.worldcup_image {
  background-image: url(../../public/images/vs.png);
  width: 74px;
  height: 74px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.post_file_wrap {
  font-size: 20px;
  margin-top: 10px;
  margin: 0 auto;
  position: relative;
}
.post_file_wrap label {
  border: 1px solid #000;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  font-size: 16px;
}
.post_file_wrap label:hover {
  border: 1px solid #fdf5dc;
  background: #fdf5dc;
  color: #000;
}
input[type="file"]::file-selector-button {
  display: none;
}
.post_file_wrap p {
  margin-top: 5px;
  font-size: 14px;
  line-height: 28px;
  color: #a0a0a0;
}
.post_input_wrap{
  margin-bottom: 20px;
}