.top_cat{
  width: 1200px;
  height: 45px;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top_cat li{
  float: left;
  margin-left: 10px;
  font-size: 14px;
}
.top_cat li:first-child{
  margin-left: 0;
}

.top_cat button {
  width: 83px;
  height: 32px;
  border: 1px solid black;
  border-radius: 40px;
  background: transparent;
  color: black;
  cursor: pointer;
}
.top_cat button:hover{
  background: #000;
  color: white;
}


.hero_side {
  background: #ffe7a4;
  height: 480px;
  text-align: center;
  background-image: url(../../public/images/hero_side.png);
  background-position: center;
}
.hero_side h1 {
  font-size: 56px;
  font-weight: normal;
  padding-top: 100px;
  line-height: 72px;
}
/* .hero_side button:hover {
  background: #000;
  color: white;
} */

.main_container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main_qna,
.main_recipe,
.main_room,
.main_magazine {
  width: 1200px;
  margin-left: 150px;
  padding: 20px 0;
}

.sub_container {
  width: 1500px;
  height: 100vh;
  position: relative;
}

.main_category {
  width: 1200px;
  margin: 0 auto;
  position: absolute;
  top: -9%;
  left: 50%;
  transform: translateX(-50%);
}

.main_category li {
  float: left;
  margin-left: 15px;
  background: white;
  width: 280px;
  height: 126px;
  padding: 20px 20px;
  cursor: pointer;
  border-bottom: 2px rgba(0, 0, 0, 0.1) solid;
  box-shadow: 0px 1px 7px rgb(196, 196, 196);
  transition: 0.3s;
}
.main_category li:hover {
  box-shadow: 0px 3px 15px rgb(211, 211, 211);
  transform: scale(1.05);
}

.category_text h3 {
  font-size: 18px;
  line-height: 30px;
  display: block;
}
.category_text p {
  font-size: 14px;
  line-height: 24px;
  display: block;
}

.magazine_icon{
  width: 32px;height: 32px;
  background-image: url(../../public/images/magazine_o.png);
}
.tip_icon{
  width: 32px;height: 32px;
  background-image: url(../../public/images/tip_o.png);
}
.rice_icon{
  width: 32px;height: 32px;
  background-image: url(../../public/images/rice_o.png);
}
.home_icon{
  width: 32px;height: 32px;
  background-image: url(../../public/images/home_o.png);
}


.main_magazine {
  margin-top: 120px;
}
.main_magazine h3 {
  width: 1200px;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 30px;
}
.main_magazine li {
  float: left;
  width: 282px;
  height: 306px;
  margin-left: 24px;
  cursor: pointer;
}
.main_magazine li:first-child{
  margin-left: 0;
}
.magazine_image {
  width: 282px;
  height: 240px;
  background-image: url(../../public/images/default_image.jpeg);
  background-size: contain;
  background-position: center;
}
.main_magazine p {
  width: 282px;
  height: 56px;
  margin-top: 10px;
  font-size: 18px;
  line-height: 28px;
}
.main_room {
  margin-top: 120px;
}
.main_room li {
  float: left;
  margin-left: 20px;
  width: 280px;
  height: 320px;
  cursor: pointer;
}
.main_room li:first-child {
  cursor: default;
  margin-left: 0;
}
.main_room h3 {
  font-size: 24px;
  line-height: 36px;
  margin-top: 26px;
  margin-bottom: 20px;
}
.main_room h4{
  font-weight: normal;
  font-size: 14px;line-height: 22px;
  margin-bottom: 30px;
}
.main_room button {
  border: 0 none;
  width: 121px;
  height: 28px;
  cursor: pointer;
  font-size: 16px;
  line-height: 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
}
.main_room h5{
  width: 74px;
  font-size: 16px;line-height: 28px;
}
.btn_arrow{
  width: 37px;
  height: 18px;
  background-image: url(../../public/images/arrow.png);
  background-repeat: no-repeat;
}
.room_image {
  height: 230px;
  background-image: url(../../public/images/default_image.jpeg);
  background-size: contain;
  background-position: center;
}
.main_room p {
  margin-top: 10px;
  height: 56px;
  font-size: 18px;
  line-height: 28px;
}


.main_recipe {
  margin-top: 50px;
}
.main_recipe li {
  float: left;
  margin-left: 20px;
  width: 280px;
  height: 320px;
  cursor: pointer;
}
.main_recipe li:first-child {
  cursor: default;
  margin-left: 0;
}
.main_recipe h3 {
  font-size: 24px;
  line-height: 36px;
  margin-top: 26px;
  margin-bottom: 20px;
}
.main_recipe h4{
  font-weight: normal;
  font-size: 14px;line-height: 22px;
  margin-bottom: 30px;
}
.main_recipe h5{
  width: 74px;
  font-size: 16px;line-height: 28px;
}

.main_recipe button {
  border: 0 none;
  width: 121px;
  height: 28px;
  cursor: pointer;
  font-size: 16px;
  line-height: 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
}
.recipe_image {
  height: 230px;
  background-image: url(../../public/images/default_image.jpeg);
  background-size: contain;
  background-position: center;
}

.main_recipe p {
  height: 90px;
  background: rgba(0, 0, 0, 0.2);
  padding: 13px 20px;
  font-size: 18px;
}

.main_qna {
  margin-top: 115px;
  margin-bottom: 480px;
}
.main_qna h3 {
  font-size: 22px;
  line-height: 36px;
  margin-bottom: 30px;
}
.qna_wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.qna {
  width: 585px;
  height: 115px;
  background: #f2f2f2;
  padding: 20px 25px;
  cursor: pointer;
}
.qna h4 {
  font-size: 16px;
  line-height: 42px;
}
.qna p {
  font-size: 14px;
  line-height: 20px;
}
