.header_container {
  width: 100%;
  background: #000;
}
.headerwrap {
  width: 1200px;
  height: 72px;
  /* background: slategrey; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 40px;
  background: #000;
}
.category_wrap {
  width: 1200px;
  height: 44px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 40px;
  font-size: 14px;
}

.header_left {
  display: flex;
}
.logo {
  margin-right: 22px;
}
.logo a {
  width: 42px;
  height: 30px;
  display: block;
  background-image: url(../../../public/images/logo_2.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-indent: -9999px;
}

.logowrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo_text {
  font-size: 14px;
  margin-top: 10px;
}

.gnb li {
  float: left;
  margin-left: 15px;
  cursor: pointer;
  font-size: 14px;
  line-height: 32px;
}
.search {
  position: relative;
}
.searchinp {
  width: 290px;
  height: 35px;
  border-radius: 10px;
  text-indent: 15px;
  border: 0 none;
  background: #fafafa;
  color: #a0a0a0;
}
.searchinp:focus {
  outline: none !important;
  border-color: #ffd665;
  box-shadow: 0 0 16px #ffd665;
}
.search_button {
  position: absolute;
  bottom: -7.5px;
  right: 5px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  border: 0 none;
  background: url(../../../public/images/search-o.png) center no-repeat;
  cursor: pointer;
}
.search_button:hover {
  background-image: url(../../../public/images/search.png);
}

.alarm {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url(../../../public/images/alarm-o.png);
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -9999px;
  position: relative;
}
.alarm:hover {
  background-image: url(../../../public/images/alarm.png);
}
.notification_centre {
  position: absolute;
  top: 40px;
  margin: 5px 0;
  padding: 15px 12px;
  border: 1px solid #a0a0a0;
  width: 300px;
  background: white;
  z-index: 1;
}
.alarm_menu li:first-child {
  cursor: default;
}
.alarm_menu li:first-child:hover {
  background: none;
}
.alarm_menu li:first-child::after {
  display: block;
  content: "";
  width: 270px;
  height: 1px;
  background: #000;
}
.alarm_menu li {
  margin: 0;
  background: white;
  display: block;
}
.alarm_menu li:hover {
  background: #f2f2f2;
}
.mypage {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url(../../../public/images/mypage-o.png);
  background-repeat: no-repeat;
  background-position: center;
  text-indent: -9999px;
}
.mypage:hover {
  background-image: url(../../../public/images/mypage.png);
}

.login {
  color: white;
}
.login:hover {
  color: #ffd665;
}
.category_wrap li {
  float: left;
  margin-left: 20px;
}

.category_wrap li {
  float: left;
  margin-left: 20px;
}

.category_wrap .post_button {
  background: #000;
  border: 0 none;
  width: 65px;
  height: 25px;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
}
.category_wrap .post_button a {
  color: white;
  line-height: 24px;
}

.category_wrap .post_button:hover {
  background: #a5a5a5;
}
.category_wrap .post_button:hover a {
  color: #000;
}

.top_cat_wrap {
  width: 100%;
  height: 35px;
  background: #000;
}
.top_cat {
  width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}
.top_cat li {
  float: left;
  margin-left: 30px;
  font-size: 14px;
}
.top_cat li:first-child {
  margin-left: 0;
}
.top_cat li:hover {
  border-bottom: 2px solid #fff;
  color: white;
}
.top_cat button {
  height: 32px;
  border: 0 none;
  background: transparent;
  color: white;
  cursor: pointer;
}

.top_cat .top_post_btn {
  background: #ffd665;
  color: #000;
  border: 0 none;
  width: 69px;
  height: 24px;
  border-radius: 20px;
}
.top_post_btn:hover {
  background: #000;
  color: #ffd665;
  border-bottom: 0 none;
}
