.toggleSwitch {
  display: block;
  margin-left: 700px;
  width: 66px;
  height: 28px;
  display: block;
  position: relative;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0 0 16px 3px rgba(0 0 0 / 15%);
  cursor: pointer;
}

/* 토글 버튼 */
.toggleSwitch .toggleButton {
  /* 버튼은 토글보다 작아야함  */
  width: 24px;
  height: 24px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 4px;
  transform: translateY(-50%);
  border-radius: 50%;
  background: silver;
}
#toggle:checked ~ .toggleSwitch {
  background: #ffd86a;
}

#toggle:checked ~ .toggleSwitch .toggleButton {
  left: calc(100% - 28px);
  background: #fff;
}

.toggleSwitch,
.toggleButton {
  transition: all 0.2s ease-in;
}
